<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Position</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of data">
      <th scope="row">{{m.id}}</th>
      <td>{{m.name}}</td>
      <td>{{m.age}}</td>
      <td>{{m.position}}</td>
      <td><button class="btn btn-success mr-2" (click)="getPlayerById(m.id)">display</button>
        <button class="btn btn-warning mr-2" (click)="updatePlayer(m.id)">Uptade</button>
        <button class="btn btn-primary" (click)="deletePlayer(m.id)">Delete</button>
      </td>

  </tbody>
</table>